USE [master]
GO
/****** Object:  Database [BibliotecaVirtual]    Script Date: 02/09/2015 13:54:10 ******/
CREATE DATABASE [BibliotecaVirtual]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaVirtual', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BibliotecaVirtual.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BibliotecaVirtual_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\BibliotecaVirtual_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaVirtual].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotecaVirtual]
GO
/****** Object:  Table [dbo].[ALUNO]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ALUNO](
	[ID_ALUNO] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SOBRENOME] [varchar](50) NOT NULL,
	[CPF] [varchar](11) NOT NULL,
	[NASC] [datetime] NOT NULL,
	[ENDERECO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](15) NOT NULL,
	[CIDADE] [varchar](15) NOT NULL,
	[UF] [varchar](30) NOT NULL,
	[CEP] [varchar](9) NOT NULL,
	[PAIS] [varchar](20) NOT NULL,
	[TEL_RES] [varchar](13) NOT NULL,
	[TEL_CEL] [varchar](14) NULL,
	[EMAIL] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ALUNO] PRIMARY KEY CLUSTERED 
(
	[ID_ALUNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AUTOR](
	[ID_AUTOR] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[SOBRENOME] [varchar](50) NOT NULL,
	[BIOGRAFIA] [varchar](100) NOT NULL,
	[SITE] [varchar](30) NOT NULL,
 CONSTRAINT [PK_AUTOR] PRIMARY KEY CLUSTERED 
(
	[ID_AUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EDITORA]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EDITORA](
	[ID_EDITORA] [int] NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[ENDERECO] [varchar](50) NOT NULL,
	[BAIRRO] [varchar](15) NOT NULL,
	[CIDADE] [varchar](15) NOT NULL,
	[UF] [varchar](20) NOT NULL,
	[CEP] [varchar](10) NULL,
	[PAIS] [varchar](20) NOT NULL,
	[TEL_1] [varchar](14) NOT NULL,
	[TEL_2] [varchar](14) NULL,
	[EMAIL] [varchar](30) NOT NULL,
 CONSTRAINT [PK_EDITORA] PRIMARY KEY CLUSTERED 
(
	[ID_EDITORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Emprestimo]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprestimo](
	[ID_EMPRESTIMO] [int] NOT NULL,
	[ID_ALUNO] [int] NOT NULL,
	[ID_LIVRO] [int] NOT NULL,
	[ID_EDITORA] [int] NOT NULL,
	[DATA_EMP] [datetime] NOT NULL,
	[DATA_DEVOL] [datetime] NOT NULL,
 CONSTRAINT [PK_Emprestimo] PRIMARY KEY CLUSTERED 
(
	[ID_EMPRESTIMO] ASC,
	[ID_ALUNO] ASC,
	[ID_LIVRO] ASC,
	[ID_EDITORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID_GENERO] [int] NOT NULL,
	[DESCRICAO] [varchar](100) NOT NULL,
	[ANDAR] [varchar](10) NOT NULL,
	[CORREDOR] [varchar](10) NOT NULL,
	[PRETELEIRA] [varchar](10) NOT NULL,
 CONSTRAINT [PK_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LIVRO]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LIVRO](
	[ID_LIVRO] [int] NOT NULL,
	[ID_EDITORA] [int] NOT NULL,
	[TITULO] [varchar](30) NOT NULL,
	[VOLUME] [int] NOT NULL,
	[DATA_PUBLIC] [datetime] NOT NULL,
	[QTD_EXMPLARES] [int] NOT NULL,
	[QTD_DISP_EMPR] [int] NOT NULL,
	[SUMARIO] [varchar](10) NOT NULL,
 CONSTRAINT [PK_LIVRO] PRIMARY KEY CLUSTERED 
(
	[ID_LIVRO] ASC,
	[ID_EDITORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LivroAutor]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LivroAutor](
	[ID_AUTOR] [int] NOT NULL,
	[ID_LIVRO] [int] NOT NULL,
	[ID_EDITORA] [int] NOT NULL,
 CONSTRAINT [PK_LivroAutor] PRIMARY KEY CLUSTERED 
(
	[ID_AUTOR] ASC,
	[ID_LIVRO] ASC,
	[ID_EDITORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LivroGenero]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LivroGenero](
	[ID_LIVRO] [int] NOT NULL,
	[ID_GENERO] [int] NOT NULL,
	[ID_EDITORA] [int] NOT NULL,
 CONSTRAINT [PK_LivroGenero] PRIMARY KEY CLUSTERED 
(
	[ID_LIVRO] ASC,
	[ID_GENERO] ASC,
	[ID_EDITORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RESERVA]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVA](
	[ID_RESERVA] [int] NOT NULL,
	[DATA_RES] [datetime] NOT NULL,
 CONSTRAINT [PK_RESERVA] PRIMARY KEY CLUSTERED 
(
	[ID_RESERVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReservaLivro]    Script Date: 02/09/2015 13:54:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaLivro](
	[ID_LIVRO] [int] NOT NULL,
	[ID_RESERVA] [int] NOT NULL,
	[ID_EDITORA] [int] NOT NULL,
 CONSTRAINT [PK_ReservaLivro] PRIMARY KEY CLUSTERED 
(
	[ID_LIVRO] ASC,
	[ID_RESERVA] ASC,
	[ID_EDITORA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Emprestimo]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimo_0] FOREIGN KEY([ID_ALUNO])
REFERENCES [dbo].[ALUNO] ([ID_ALUNO])
GO
ALTER TABLE [dbo].[Emprestimo] CHECK CONSTRAINT [FK_Emprestimo_0]
GO
ALTER TABLE [dbo].[Emprestimo]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimo_1] FOREIGN KEY([ID_LIVRO], [ID_EDITORA])
REFERENCES [dbo].[LIVRO] ([ID_LIVRO], [ID_EDITORA])
GO
ALTER TABLE [dbo].[Emprestimo] CHECK CONSTRAINT [FK_Emprestimo_1]
GO
ALTER TABLE [dbo].[LIVRO]  WITH CHECK ADD  CONSTRAINT [FK_LIVRO_0] FOREIGN KEY([ID_EDITORA])
REFERENCES [dbo].[EDITORA] ([ID_EDITORA])
GO
ALTER TABLE [dbo].[LIVRO] CHECK CONSTRAINT [FK_LIVRO_0]
GO
ALTER TABLE [dbo].[LivroAutor]  WITH CHECK ADD  CONSTRAINT [FK_LivroAutor_0] FOREIGN KEY([ID_AUTOR])
REFERENCES [dbo].[AUTOR] ([ID_AUTOR])
GO
ALTER TABLE [dbo].[LivroAutor] CHECK CONSTRAINT [FK_LivroAutor_0]
GO
ALTER TABLE [dbo].[LivroAutor]  WITH CHECK ADD  CONSTRAINT [FK_LivroAutor_1] FOREIGN KEY([ID_LIVRO], [ID_EDITORA])
REFERENCES [dbo].[LIVRO] ([ID_LIVRO], [ID_EDITORA])
GO
ALTER TABLE [dbo].[LivroAutor] CHECK CONSTRAINT [FK_LivroAutor_1]
GO
ALTER TABLE [dbo].[LivroGenero]  WITH CHECK ADD  CONSTRAINT [FK_LivroGenero_0] FOREIGN KEY([ID_LIVRO], [ID_EDITORA])
REFERENCES [dbo].[LIVRO] ([ID_LIVRO], [ID_EDITORA])
GO
ALTER TABLE [dbo].[LivroGenero] CHECK CONSTRAINT [FK_LivroGenero_0]
GO
ALTER TABLE [dbo].[LivroGenero]  WITH CHECK ADD  CONSTRAINT [FK_LivroGenero_1] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENERO] ([ID_GENERO])
GO
ALTER TABLE [dbo].[LivroGenero] CHECK CONSTRAINT [FK_LivroGenero_1]
GO
ALTER TABLE [dbo].[ReservaLivro]  WITH CHECK ADD  CONSTRAINT [FK_ReservaLivro_0] FOREIGN KEY([ID_LIVRO], [ID_EDITORA])
REFERENCES [dbo].[LIVRO] ([ID_LIVRO], [ID_EDITORA])
GO
ALTER TABLE [dbo].[ReservaLivro] CHECK CONSTRAINT [FK_ReservaLivro_0]
GO
ALTER TABLE [dbo].[ReservaLivro]  WITH CHECK ADD  CONSTRAINT [FK_ReservaLivro_1] FOREIGN KEY([ID_RESERVA])
REFERENCES [dbo].[RESERVA] ([ID_RESERVA])
GO
ALTER TABLE [dbo].[ReservaLivro] CHECK CONSTRAINT [FK_ReservaLivro_1]
GO
USE [master]
GO
